@import 'base';

.container {

  .col-2 {
    float: left;
  }

  .mix {
    display: none;
  }

  img {
    @extend %base-shadow;
    @include safe-rem(margin-bottom, 15);
    @include transition(all .2s ease-in-out);

    &:hover {
      @extend %hover-shadow;
    }

  }

}

.fancybox-title {

  h1 {
    @include safe-rem(padding, 5 10);
    display: block;
    color: $white;
    background-color: $blue-500;
  }

  p {
    @include safe-rem(padding, 10);
  }

}

.fancybox-skin {
  @extend %hover-shadow;
  @include safe-rem(margin, 20);
}
