$black: #000000;
$white: #ffffff;

$tan-100: #acaca3;
$tan-500: #f3f4ef;

$grey-100: #dfdfdf;
$grey-200: #bfbfbf;
$grey-300: #e0e1de;
$grey-400: #eaebe5;
$grey-500: #77776b;
$grey-600: #353535;
$grey-900: #262b2f;

$green-500: #9ac441;
$blue-500: #4c79a1;
