@import 'mixins';
@import 'color';

//scss-lint:disable all
%base-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, .117647) 0 0 2px 0, rgba(0, 0, 0, .239216) 0 2px 4px 0;
  box-shadow: rgba(0, 0, 0, .117647) 0 0 2px 0, rgba(0, 0, 0, .239216) 0 2px 4px 0;
}

%hover-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

// scss-lint:enable all
