@import '../components/base';

.community-projects {
  @include safe-rem(min-height, 800);
  @include safe-rem(padding-bottom, 50);

  .col-3 {
    @include safe-rem(margin-bottom, 50);
    text-align: center;
  }

  img {
    @include transition(all .3s linear);
    @include circle(125);
    display: inline-block;

    &:hover {
      transform: scale(1.05) translate3d(0, 0, 0);
    }
  }
}

//


